/* Add your own styles */

.visible 
{
visibility = visible;
}

.hidden
{
visibility = hidden;
}

table
{
border: 100px black;
}

body {background-color: lightblue;}

#theWorld
{
margin-top:0px;
margin-bottom:15px;
text-align:center;
background-color:gray;
color:white;
font-family:Georgia;
padding:100px;
float:top;
}

#lookup 
{
background-color:magenta;
color:cyan;
padding:5px;
margin-bottom:10px;
border-radius:30px;
float:left;
}

#cityLookup 
{
background-color:cyan;
color:magenta;
padding:5px;
margin-bottom:10px;
border-radius:30px;
float:right;
}

#controls 
{
background-color:black;
padding:50px;
}